.topbar {
  background: #1f2933;
  color: white;
  padding: 6px 20px;
  font-size: 14px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: #f2f2f2;
}

.emblem {
  width: 60px;
}

.title {
  flex: 1;
  margin-left: 15px;
}

.title h2 {
  margin: 0;
}

.title p {
  margin: 0;
  color: gray;
}

.right-icon {
  width: 80px;
}